<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Raheem Williams</h1>
        <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Profile Picture" class="profile-img" />
        <p>I am a Computer Science major with a minor in Accounting at
             The University of the West Indies. I love to code and work
             on projects and trying new stuff in my field of computer science.
            Whether it's building mobile applications, developing web platforms,
            or exploring new technologies, I'm always eager to learn and create
            innovative solutions.</p>
    </div>
</body>
</html>
